html {
    box-sizing: border-box;
  }
  body{
    background-color: black;
    margin: 0%;
  }
  *, *:before, *:after { 
    box-sizing: inherit; 
  }

  div {
    width: 100%;
    padding: 100px;
  }

  .one {
    background: thistle;
  }

  .two {
    background: mistyrose;
  }

  .three {
    background: coral;
  }
  .span{
    font-size: 30px;
    margin-left: 10px;
    color: white;
}
a{
    text-decoration-color: white;
    margin-top: 0%;
}
@media(pointer: none), (pointer: coarse) {
    .span{
      font-size: 50px;
    }
  }